services:
  # Web Service
  - type: web
    name: ntandostore
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "npm start"
    healthCheckPath: /health
    autoDeploy: true